{% extends "form/layout.html" %}
{% block content %}
<style>
    
</style>
<div class="container py-5">
    <div class="row py-5">
        <!-- /. ROW  -->

        <form class="col-md-9 m-auto" action="/form/blusa" method="post" role="form">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="row">
                <div class="form-group col-md-6 mb-3" hidden>

                    <label for="inputemail">id Cliente</label>
                    <input type="text" class="form-control mt-1" name="id_cliente" value="{{id_cliente}}"
                        placeholder="">
                </div>
                <div class="form-group  col-md-6 mb-3">
                    <label for="inputemail">Largo de Blusa</label>
                    <input type="number" class="form-control  mt-1" name="largo_blusa" placeholder="medida en cm">
                </div>
                <div class=" col-md-6 mb-3">
                    <label for="inputemail">Pecho</a></label>
                    <input type="number" class="form-control mt-1" name="pecho" placeholder="medida en cm" rows="8">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Cintura</label>
                    <input type="number" class="form-control mt-1" id="cintura" name="cintura" placeholder="cintura"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputmessage">Manga</label>
                    <input type="number" class="form-control mt-1" id="manga" name="manga" placeholder="medida en cm"
                        rows="8" required></input>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputmessage">Puño</label>
                    <input type="number" class="form-control mt-1" id="puño" name="puño" placeholder="medida en cm" rows="8"
                        required></input>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputmessage">Cuello </label>
                    <input type="number" class="form-control mt-1" id="cuello" name="cuello" placeholder="medida en cm"
                        rows="8" required></input>
                </div>

            </div>
            
            <div class="row">
                <div class="col-md-6 mb-3">
                    <button type="submit" class="btn btn-success btn-lg px-3">Guardar medida</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Seleccionar todos los inputs de tipo number en el formulario
        const inputs = document.querySelectorAll('input[type="number"]');

        inputs.forEach(input => {
            input.addEventListener('input', function (e) {
                // Validar que no se ingresen valores negativos
                if (this.value < 0) {
                    e.preventDefault();
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: '¡No se permiten valores negativos!'
                    });
                    this.value = '';
                }

                // Validar que solo se ingresen números y un punto decimal
                const value = this.value;
                const regex = /^\d*\.?\d*$/;

                if (!regex.test(value)) {
                    e.preventDefault();
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Por favor, ingresa un número válido. Solo se permiten números y un punto decimal.'
                    });
                    this.value = value.substr(0, value.length - 1);
                }
            });
        });
    });
</script>
{% endblock %}