{% extends "form/layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/formularios.css">

<div class="container py-5">
    <div class="row py-5">
        <!-- /. ROW  -->

        <form class="col-md-9 m-auto" action="/form/leva" method="post" role="form">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="row">
                <div class="product-image">
                    <div class="circle-bg">
                        <img src="/static/img/leva.jpg" alt="Productos para el cuidado de la piel">
                    </div>
                </div>
                <div class="form-group col-md-6 mb-3" hidden>

                    <label for="inputemail">id Cliente</label>
                    <input type="text" class="form-control mt-1" name="id_cliente" value="{{id_cliente}}"
                        placeholder="medida en cm">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="inputemail">Espalda</label>
                    <input type="text" class="form-control mt-1" name="espalda" placeholder="medida en cm">
                </div>
                <div class=" col-md-6 mb-3">
                    <label for="inputemail">Largo de Saco</label>
                    <input type="number" class="form-control mt-1" name="largo_saco" placeholder="medida en cm"
                        rows="8">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Ancho de espalda</label>
                    <input type="number" class="form-control mt-1" id="ancho_espalda" name="ancho_espalda"
                        placeholder="medida en cm" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Media espalda</label>
                    <input type="number" class="form-control mt-1" id="vuelo" name="media_espalda" placeholder="medida en cm"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Caida hombro</label>
                    <input type="number" class="form-control mt-1" id="vuelo" name="caida_hombro" placeholder="medida en cm"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Largo de manga</label>
                    <input type="number" class="form-control mt-1" id="vuelo" name="largo_manga" placeholder="medida en cm"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Ancho de puño</label>
                    <input type="number" class="form-control mt-1" id="" name="ancho_puño" placeholder="medida en cm"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Ancho de brazo</label>
                    <input type="number" class="form-control mt-1" id="" name="ancho_brazo" placeholder="medida en cm"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Cont pecho</label>
                    <input type="number" class="form-control mt-1" id="" name="cont_pecho" placeholder="medida en cm"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Cintura</label>
                    <input type="number" class="form-control mt-1" id="" name="cintura" placeholder="medida en cm"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Pecho</label>
                    <input type="number" class="form-control mt-1" id="" name="pecho" placeholder="medida en cm"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Cuello</label>
                    <input type="number" class="form-control mt-1" id="" name="cuello" placeholder="medida en cm"
                        required>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 mb-3">
                    <button type="submit" class="btn btn-success btn-lg px-3">
                        <u>
                            Guardar medida
                        </u>
                    </button>
                    <button type="button" class="btn btn-success btn-lg px-3">
                        <a href="/cliente/in_medida " class="  btn-success btn-lg px-3">
                            <strong>
                                Regresar
                            </strong>
                        </a>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Seleccionar todos los inputs de tipo number en el formulario
        const inputs = document.querySelectorAll('input[type="number"]');

        inputs.forEach(input => {
            input.addEventListener('input', function (e) {
                // Validar que no se ingresen valores negativos
                if (this.value < 0) {
                    e.preventDefault();
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: '¡No se permiten valores negativos!'
                    });
                    this.value = '';
                }

                // Validar que solo se ingresen números y un punto decimal
                const value = this.value;
                const regex = /^\d*\.?\d*$/;

                if (!regex.test(value)) {
                    e.preventDefault();
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Por favor, ingresa un número válido. Solo se permiten números y un punto decimal.'
                    });
                    this.value = value.substr(0, value.length - 1);
                }
            });
        });
    });

</script>

{% endblock %}