{% extends "form/layout.html" %}
{% block content %}
<div class="container py-5">
    <div class="row py-5">
        <!-- /. ROW  -->

        <form class="col-md-9 m-auto" action="/form/pantalon" method="post" role="form">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="row">
                <div class="form-group col-md-6 mb-3" hidden>
                    <label for="inputemail">id Cliente</label>
                    <input type="text" class="form-control mt-1" name="id_cliente" value="{{id_cliente}}"
                        placeholder="medida en cm">
                </div>
                <div class="form-group  col-md-6 mb-3">
                    <label for="inputemail">Alto de rodilla</label>
                    <input type="text" class="form-control mt-1" name="alto_rodilla" placeholder="medida en cm">
                </div>
                <div class=" col-md-6 mb-3">
                    <label for="inputemail">Largo de pantalon</label>
                    <input type="number" class="form-control mt-1" name="largo_pantalon" placeholder="medida en cm"
                        rows="8">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Cintura</label>
                    <input type="number" class="form-control mt-1" id="cadera" name="cintura" placeholder="medida en cm"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Cadera</label>
                    <input type="number" class="form-control mt-1" id="vuelo" name="cadera" placeholder="medida en cm"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Muslo</label>
                    <input type="number" class="form-control mt-1" id="muslo" name="muslo" placeholder="medida en cm"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Rodilla</label>
                    <input type="number" class="form-control mt-1" id="rodilla" name="rodilla" placeholder="medida en cm"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Basta</label>
                    <input type="number" class="form-control mt-1" id="basta" name="basta" placeholder="medida en cm"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputsubject">Tiro</label>
                    <input type="number" class="form-control mt-1" id="tiro" name="tiro" placeholder="medida en cm"
                        required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <button type="submit" class="btn btn-success btn-lg px-3">Guardar medida</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Seleccionar todos los inputs de tipo number en el formulario
        const inputs = document.querySelectorAll('input[type="number"]');

        inputs.forEach(input => {
            input.addEventListener('input', function (e) {
                // Validar que no se ingresen valores negativos
                if (this.value < 0) {
                    e.preventDefault();
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: '¡No se permiten valores negativos!'
                    });
                    this.value = '';
                }

                // Validar que solo se ingresen números y un punto decimal
                const value = this.value;
                const regex = /^\d*\.?\d*$/;

                if (!regex.test(value)) {
                    e.preventDefault();
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Por favor, ingresa un número válido. Solo se permiten números y un punto decimal.'
                    });
                    this.value = value.substr(0, value.length - 1);
                }
            });
        });
    });

</script>
{% endblock %}