{% extends "cliente/layout.html" %}
{% block content %}
<div class="container py-5">
    <div class="row py-5">
        <div class="col-md-9 m-auto">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <table class="table table-bordered table-hover  ">
                <thead>
                    <tr>
                        <th hidden>Id cliente</th>
                        <th hidden>Codigo de producto</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Resultado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for carrito in carrito %}
                    <form action="">
                    <tr>
                        <td hidden>
                            <input type="text" name="id_cliente" value="{{carrito.id_cliente}}">
                            
                        </td>
                        <td hidden>
                            <input type="text" name="id_producto" value="{{carrito.id_producto}}" readonly>
                            
                        </td>
                        <td>
                            <input type="text" name="producto" value="{{carrito.producto}}" readonly>
                        </td>
                        <td>
                            <input type="text" name="cantidad" value="{{carrito.cantidad}}" readonly>
                        </td>
                        <td>
                            <input type="text" name="precio" value="{{carrito.precio}}" readonly>
                        </td>
                        <td>
                            <input type="text" name="resultado" value="{{carrito.resultado}}" readonly>
                        </td>
                    </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}