{% extends "cliente/layout.html" %}
{% block content %}
<div class="container py-5">
    <div class="row py-5">
        <!-- /. ROW  -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form class="col-md-9 m-auto" action="" method="post" role="form">
            <div class="row justify-content-center text-center"> <!-- 'justify-content-center' centra los elementos -->
                <div class="col-md-6">
                    <img src="/static/img/blusa.png"  alt="Blusa" class="rounded mx-auto d-block img-fluid" style="width: 300px; height: 300px;"> <!-- Imagen centrada -->
                    <br>
                    <a href="../form/blusa" class="btn btn-success btn-lg px-3">Rellenar formulario Blusa</a> <!-- Botón centrado -->
                    <br>
                    <br>
                </div>
                <div class="">
                    <img src="/static/img/camisaroja.jpg" alt="Blusa" class="rounded mx-auto d-block img-fluid" style="width: 300px; height: 300px;" >
                    <br>
                    <a href="../form/camisa" class="btn btn-success btn-lg px-3">Rellenar formulario Camisa</a>
                    <br>
                    <br>
                </div>
                <div class="">
                    <img src="/static/img/chaleco.jpg" alt="Blusa" class="rounded mx-auto d-block img-fluid" style="width: 300px; height: 300px;" >
                    <br>
                    <a href="../form/chaleco" class="btn btn-success btn-lg px-3">Rellenar formulario Chaleco</a>
                    <br>
                    <br>
                </div>
                <div class="">
                    <img src="/static/img/falda.jpg" alt="Blusa" class="rounded mx-auto d-block img-fluid" style="width: 300px; height: 300px;" >
                    <br>
                    <a href="../form/falda" class="btn btn-success btn-lg px-3">Rellenar formulario Falda</a>
                    <br>
                    <br>
                </div>
                <div class="">
                    <img src="/static/img/leva.jpg" alt="Blusa" class="rounded mx-auto d-block img-fluid" style="width: 300px; height: 300px;" >
                    <br>
                    <a href="../form/leva" class="btn btn-success btn-lg px-3">Rellenar formulario Leva</a>
                    <br>
                    <br>
                </div>
                <div class="">
                    <img src="/static/img/pantalon.jpg" alt="Blusa" class="rounded mx-auto d-block img-fluid" style="width: 300px; height: 300px;" >
                    <br>
                    <a href="../form/pantalon" class="btn btn-success btn-lg px-3">Rellenar formulario Pantalon</a>
                    <br>
                    <br>
                </div>
                <div class="">
                    <img src="/static/img/saco.jpg" alt="Blusa" class="rounded mx-auto d-block img-fluid" style="width: 300px; height: 300px;" >
                    <br>
                    <a href="../form/saco" class="btn btn-success btn-lg px-3">Rellenar formulario Saco</a>
                    <br>
                    <br>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    // Seleccionar todos los inputs de tipo number en el formulario
    const inputs = document.querySelectorAll('input[type="number"]');

    inputs.forEach(input => {
        input.addEventListener('input', function(e) {
            // Validar que no se ingresen valores negativos
            if (this.value < 0) {
                e.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '¡No se permiten valores negativos!'
                });
                this.value = '';
            }

            // Validar que solo se ingresen números y un punto decimal
            const value = this.value;
            const regex = /^\d*\.?\d*$/;

            if (!regex.test(value)) {
                e.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Por favor, ingresa un número válido. Solo se permiten números y un punto decimal.'
                });
                this.value = value.substr(0, value.length - 1);
            }
        });
    });
});
</script>
{% endblock %}