{% extends "cliente/layout.html" %}
{% block content %}
<div class="container py-5">
    <div class="row py-5">
        <div class="col-md-9 m-auto">
            <form class="col-md-9 m-auto"   role="form">
                <div class="row">
                    {% for medida in medidas %}
                    <div class="form-group col-md-6 mb-3" hidden>
                        <label for="inputemail">Codigo de medida</label>
                        <input type="text" class="form-control mt-1" value="{{medida.id_medida}}" placeholder="">
                    </div>
                    <div class="form-group col-md-6 mb-3" hidden>
                        <label for="inputemail">Codigo cliente</label>
                        <input type="text" class="form-control mt-1"  value="{{medida.id_cliente}}"
                            placeholder="">
                    </div>
                    <div class=" mb-3">
                        <label for="inputemail">Medida del busto</label>
                        <input type="number" class="form-control mt-1" value="{{medida.busto}}" 
                            rows="8">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputsubject">Medida de cintura</label>
                    <input type="number" class="form-control mt-1" value="{{medida.cintura}}" >
                </div>
                <div class="mb-3">
                    <label for="inputmessage">Medida de cadera</label>
                    <input type="number" class="form-control mt-1" value="{{medida.cadera}}" placeholder=""
                        rows="8"></input>
                </div>
                <div class="mb-3">
                    <label for="inputmessage">Medida de espalda</label>
                    <input type="number" class="form-control mt-1" value="{{medida.espalda}}" placeholder=""
                        rows="8"></input>
                </div>
                <div class="mb-3">
                    <label for="inputmessage">Medida en mangas</label>
                    <input type="number" class="form-control mt-1" value="{{medida.mangas}}" placeholder=""
                        rows="8"></input>
                </div>
                <div class="mb-3">
                    <label for="inputmessage">Comentario</label>
                    <input type="text" class="form-control mt-1" value="{{ medida.comentario}}" rows="8"></input>
                </div>
                {% endfor %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Dato importante
                </button>
    
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cambiar talla</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Si deseas cambiar algunos de los campos de tu talla comunicate con nosotros y te podremos
                                ayudar para la actualización  
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}