/* Cambiar el color del botón Guardar a verde */
.ui-dialog .guardar.ui-button {
    background: #3071A9;
    color: white;
    /* Cambiar el color del texto a blanco */
  }

  /* Cambiar el color del botón Cancelar a rojo */
  .ui-dialog .cancelar.ui-button {
    background: #D9534F;
    color: white;
    /* Cambiar el color del texto a blanco */
  }