{% extends "admin/layout.html" %}
{% block content %}
<style>
    #pvp::before {
        content: '$';
        position: absolute;
        margin-left: 5px;
    }
</style>
<div class="">
    <div class="panel panel-success">
        <!-- /. ROW  -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="panel-heading">
            Ingreso de Productos
        </div>
        <div class="panel-body">
            <form action="/admin/in_producto" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Ingresar Nombre</label>
                    <input class="form-control " type="text" name="nombre" />
                </div>
                <div class="form-group">
                    <label>Ingresar Precio</label>
                    <input class="form-control" type="number" name="precio" />
                </div>
                <div class="form-group">
                    <label>Ingresar Categoria</label>
                    <select name="categoria" id="categoria" class="form-control">
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>
                        <option value="Niño">Niño</option>
                        <option value="Niña">Niña</option>
                        <option value="Niña">Telas</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Ingresar Subcategoria</label>
                    <select name="subcategoria" id="subcategoria" class="form-control">
                        <option value="Blusas">Blusas</option>
                        <option value="Pantalones">Pantalones</option>
                        <option value="Zaco">Zaco</option>
                        <option value="Camisas">Camisas</option>
                        <option value="Cinturones">Cinturones</option>
                        <option value="Faldas">Faldas</option>
                        <option value="Sudaderas">Sudaderas</option>
                        <option value="Elegantes">Elegantes</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Ingresar Descripcion</label>
                    <textarea class="form-control" type="text" name="descripcion">

                    </textarea>
                </div>
                <div class="form-group">
                    <label>Ingresar Imagen</label>
                    <input class="form-control" type="file" name="imagen" />
                </div>
                <button type="submit" class="btn btn-success">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}