{% extends "admin/layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <table  class="table table-bordered table-hover  " id="myTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Subcategoria</th>
                    <th>Imagen</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in producto %}
                <tr>
                    <td>
                        {{producto.id_producto}}
                    </td>
                    <td>
                        {{producto.nombre}}
                    </td>
                    <td>
                        {{producto.precio}}
                    </td>
                    <td>
                        {{producto.categoria}}
                    </td>
                    <td>
                        {{producto.subcategoria}}
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename='img/producto/' + producto.imagen) }}" alt="Imagen de herramienta" width="200">
                    </td>
                    <td>
                        {{producto.descripcion}}
                    </td>
                    <td>
                        <button type="submit" class="editar btn btn-primary" style="background-color: #59AB6E;" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                        </button>
                        <a href="{{url_for('producto.delete_pr', eliadpro = producto.id_producto)}}"
                            class="eliminar btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-x-octagon" viewBox="0 0 16 16">
                                <path
                                    d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z" />
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </a>
                    </td>
                </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div id="editModal" title="Editar Producto">
    <form id="editForm" action="" method="post">
        <div class="form-group">
            <div class="col" hidden>
                <label for="">Codigo</label>
                <input type="text" id="id_producto" name="id_producto" class="form-control" readonly>
            </div>
            <div class="col">
                <label for="">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="form-control" readonly>
            </div>
            <div class="col">
                <label for="usuario">Precio</label>
                <input type="text" id="precio" name="precio" class="form-control">
            </div>
            <div class="col">
                <label for="rol">Categoria</label>
                <input type="text" id="categoria" name="categoria" class="form-control">
            </div>
            <div class="col">
                <label for="rol">Sub Categoria</label>
                <input type="text" id="subcategoria" name="subcategoria" class="form-control">
            </div>
            <div class="col">
                <label for="rol">Iamgen</label>
                <input type="file" id="categoria" name="categoria" class="form-control">
            </div>
            <div class="col">
                <label for="rol">Descripcion</label>
                <input type="text" id="descripcion" name="descripcion" class="form-control">
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
    $('#myTable').DataTable({
        "language": {
            "url": "/static/interfaz/js/Spanish.json"
        }
    });
    var table = $('#myTable').DataTable();
    //Cambio de english a spanish
    // Funcionalidad de edición
    table.on('click', '.editar', function () {
        var row = $(this).closest('tr');
        var data = table.row(row).data();
        // Aquí puedes abrir el modal y llenar los campos del formulario con los datos del usuario
        // Por ejemplo:
        $('#id_producto').val(data[0]);
        $('#nombre').val(data[1]);
        $('#precio').val(data[2]);
        $('#categoria').val(data[3]);
        $('#subcategoria').val(data[4]);
        $('#imagen').val(data[5]);
        $('#descripcion').val(data[6]);
        $('#editForm').attr('action','/edit_pro/'+ data[0]); // Recuerda que en esta parte el 0 es la posicion selectora del codigo que estas usando en este caso es 0 ya que usas la cedula
        $('#editModal').dialog('open');
    });
    // Inicializar el modal
    $('#editModal').dialog({
        autoOpen: false,
        modal: true,
        buttons: [
            {
                text: 'Guardar',
                click: function () {
                    $('#editForm').submit();
                },
                // Agregar una clase al botón
                class: 'guardar'
            },
            {
                text: 'Cancelar',
                click: function () {
                    $(this).dialog('close');
                },
                // Agregar una clase al botón
                class: 'cancelar'
            }
        ]
    });
});
$(".eliminar").click(function (event) {
    event.preventDefault();
    var url = $(this).attr('href'); // Guarda la URL del enlace
    Swal.fire({
        title: '¿Estás seguro?',
        text: "¿Estás seguro de que quieres eliminar?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, eliminar!',
        cancelButtonText: 'No, cancelar!'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = url; // Navega a la URL del enlace
        }
    });
});
</script>
{% endblock %}